@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
:root {
  --color-primary: #ffffff;
  --color-secondary: #e466e9;
  --color-third: #000000;
}
body {
  font-family: "Arapey", serif;
  font-size: 1.3rem;
  margin: 0;
  color: var(--color-third);
  border-left: 20px solid #e566e99f;
  border-right: 20px solid #e566e99f;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: var(--color-secondary);
  font-size: 1.5rem;
  }
nav ul {
  display: flex;
  list-style-type: none;
  }
nav ul li {
  margin-right: 25px;
  }
nav ul li a {
  color: var(--color-third);
  text-decoration: none; 
  padding: 10px 1px;
  display: flex;
  align-items: center;
  font-weight: 600;
  }
nav .logo {
  font-size: 2rem;
  padding: 10px;
  font-weight: 600;
  }
.header {
  display: flex;
}
.text {
  flex: 1;
  text-align: center;
  align-self: center;
  margin-left: 100px;
}
.image1 img {
  width: 620px;
  height: 500px;
}
.celebrities {
  display: flex;
  justify-content: center; 
  padding: 0;
}
.aboutceleb {
  justify-content: flex-start;
  gap: 1.8rem;
}
.aboutceleb article img {
  max-width: 100%;
}
.info1 {
  flex: 1;
  text-align:end;
  align-self: center;
  margin-left: 100px;
}
.image3 img {
 width: 620px;
 height: 400px;
}
article {
  display: flex;
}
.photo {
  flex: 1;
}
.info {
  flex: 1;
  text-align:start;
  align-self:center;
}
.social-icons1 {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.social-icons1 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
.social-icons1 ul a {
  display: flex;
}
.social-icons2 {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: flex-end;
}
.social-icons2 ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 0%;
}
.social-icons2 ul a {
  display: flex;
}
.footer {
  background-color: var(--color-secondary);
  color: var(--color-third);
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left h3,
.footer-center h3,
.footer-right h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-left p {
  margin: 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  display: flex;
  align-items: center;
}
.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
}

.footer-menu {
  list-style: none;
  padding: 0;
}

.footer-menu li {
  margin-bottom: 5px;
}

.footer-menu a {
  color: var(--color-third);
  text-decoration: none;
}

.footer-menu a:hover {
  text-decoration: underline;
}
